#homework
wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

#Week1 materials
wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz

In [1]:
import pandas as pd

In [2]:
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'
url_green_trip = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz'
url_taxi_zone = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv'

In [3]:
df = pd.read_csv(url)

/tmp/ipykernel_2869/4176769558.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [6]:
df_green_trip = pd.read_csv(url_green_trip)

/tmp/ipykernel_30100/774904832.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green_trip = pd.read_csv(url_green_trip)

In [7]:
df_taxi_zone = pd.read_csv(url_taxi_zone)

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
engine.connect()

WARNING:  database "ny_taxi" has no actual collation version, but a version was recorded

In [8]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" REAL,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [9]:
df_iter = pd.read_csv(url,iterator = True, chunksize= 100000)

In [10]:
df = next(df_iter)

In [16]:
len(df)

100000

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

NameError: name 'df' is not defined

In [ ]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists = 'replace')

In [11]:
#for homework
df_green_trip.to_sql(name='green_trip', con=engine, if_exists = 'replace')

WARNING:  database "ny_taxi" has no actual collation version, but a version was recorded

386

In [12]:
#for homework
df_taxi_zone.to_sql(name='taxi_zone', con=engine, if_exists = 'replace')

265

In [15]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists = 'append')

CPU times: user 6.4 s, sys: 41.7 ms, total: 6.44 s
Wall time: 9.89 s

1000

In [18]:
from time import time

while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists = 'append')
    t_end = time()
    print('inserted another chunk, took %.3f s' % (t_end - t_start))

inserted another chunk, took 9.813 s
inserted another chunk, took 10.260 s
inserted another chunk, took 10.009 s
inserted another chunk, took 10.570 s
inserted another chunk, took 10.129 s
inserted another chunk, took 10.190 s
inserted another chunk, took 10.821 s
inserted another chunk, took 10.533 s
inserted another chunk, took 10.783 s
inserted another chunk, took 10.524 s

/tmp/ipykernel_2869/3199401413.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 10.086 s
inserted another chunk, took 6.377 s

StopIteration: